html {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #dddddd
}

.logo {
    height: 40px;
    width: 40px;
}

.title {
    margin-left: 5px;
    margin-right: 20px;
    font-size: 20px;
    color: #00539f;
    text-decoration: none;
}

.nav-item {
    margin-left: 5px;
    margin-right: 20px;
    font-size: 30px;
    color: #00539f;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #eeeeee
}

.nav-item.active {
    color: #00539f;
    font-size: 18px;
}

.content {
    padding: 0 20px;
}